body {
    text-align: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #3896e9, #24f0fa);
    color: white;
}
h1 {
    margin-top: 300px;
    font-size: 46px;
    font-family: 'Times New Roman', Times, serif;
    color: #fe7c02;
    background-color: aliceblue;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
    margin: 90px auto;
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 40px;
    background: linear-gradient(to right, #fc55c7, #98ff11);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
}

button {
    padding: 20px 25px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.mode button {
    background: #fafe95;
    color: rgb(19, 18, 18);
    margin: 20px;
}
.mode button:hover {
    background: #fafe95;
    color: rgb(19, 18, 18);
    transform: scale(1.1);
}

.reset {
    background: #f44336;
    color: white;
    position: relative;
    bottom: 15px;
    font-weight: bold;
}